# Azure AI Project Configuration
AZURE_AI_PROJECT_ENDPOINT=

# Model Deployment
AZURE_AI_AGENT_MODEL_DEPLOYMENT_NAME=

# Azure AI Search Configuration
AZURE_AI_SEARCH_CONNECTION_NAME=
AZURE_AI_SEARCH_INDEX_NAME_RFP_RISK=
